/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700;800&display=swap');
@font-face {
    font-family: "Myriad Arabic Regular";
    src: url(./fonts/Myriad\ Arabic\ Regular/);
}
@font-face {
    font-family: "Myriad Pro Regular";
    src: url(./fonts/Myriad\ Pro\ Regular/);
}
/* ball style and animation */
.loader__container{
    height: 100vh;
    background: #fff;   
}
.loader__container > div{
    width: 75%;
}
.loader__ball{
    width: 40px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 50%;
    bottom: 100%;
    left: 0;
    animation: BallTranslateXSVersion 2s infinite ease-in-out;
}
@keyframes BallTranslateXSVersion {
    0% , 100%{
        left: 0;
    }
    50%{
        left: calc(100% - 40px);
    }
}
@keyframes BallTranslateMDVersion {
    0% , 100%{
        left: 0;
    }
    50%{
        left: calc(100% - 60px);
    }
}
@keyframes BallTranslateXLVersion {
    0% , 100%{
        left: 0;
    }
    50%{
        left: calc(100% - 80px);
    }
}
/* linear style and animation */
.loader__linear{
    height: 30px;
}
.loader__linear--hr{
    height: 2px;
    color: #000;
    background-color: #000;
    opacity: 1;
}
div[class *= "loader__linear--line"] , .loader__linear--filler{
    width: 1px;
    height: 15px;
    background: #000;
    top: 31%;
}
.loader__linear--line--left-1{left: 0;}
.loader__linear--line--left-2{left: .8%;}
.loader__linear--line--left-3{left: 1.8%;}
.loader__linear--line--left-4{left: 3.5%;}
.loader__linear--line--left-5{left: 7%;}
.loader__linear--line--left-6{left: 13%;}
.loader__linear--line--left-7{left: 21%;   }
.loader__linear--line--left-8{left: 30.2%;}
.loader__linear--line--left-9{left: 40%;}
.loader__linear--line--center{left: 50%;}
.loader__linear--line--right-1{right: 0;}
.loader__linear--line--right-2{right: .8%;}
.loader__linear--line--right-3{right: 1.8%;}
.loader__linear--line--right-4{right: 3.5%;}
.loader__linear--line--right-5{right: 7%;}
.loader__linear--line--right-6{right: 13%;}
.loader__linear--line--right-7{right: 21%;}
.loader__linear--line--right-8{right: 30.2%;}
.loader__linear--line--right-9{right: 40%;}
/* media queries for loader styles */
@media (min-width: 650px) {
    .loader__ball{
        width: 60px;
        height: 60px;
        border: 4px solid black;
        animation-name: BallTranslateMDVersion;
    }
    .loader__linear--hr{
        height: 2.5px;
        top: 15px;
    }
    div[class *= "loader__linear--line"] , .loader__linear--filler{
        width: 2px;
        height: 25px;
        top: 68%;
    }
}
@media (min-width: 1000px) {
    .loader__ball{
        width: 80px;
        height: 80px;
        border: 5px solid black;
        animation-name: BallTranslateXLVersion;
    }
    .loader__container > div{
        width: 50%;
    }
    .loader__linear--hr{
        height: 3px;
        top: 25px;
    }
    div[class *= "loader__linear--line"] , .loader__linear--filler{
        height: 30px;
        top: 90%;
    }
}
/* styling web page */
*{
    margin: 0 !important;
    padding: 0 !important;
}
.page__header{
    height: 100vh;
    background: radial-gradient(#012453 30%, #01122a);
}
.header__heading{
    color: #ffffff;
    font-size: 4rem;
    font-weight: 800;
    line-height: 7rem;
    font-family: "Vazirmatn";
    border-top: .2rem solid #8092a9;
    border-bottom: .2rem solid #8092a9;
}
.header__heading--english{
    font-weight: 800;   
}
.header__hastags{
    font-size: 1.8rem;
}
.header__hastags--persion , .header__hastags--english {
    display: flex;
    gap: 3rem;
    color: #ffffff;
}
@media (max-width: 667px){
    :root{
		font-size: 8px;
    }
}
@media (min-width: 668px) {
    :root{
		font-size: 14px;

    }
}
@media (min-width: 1100px) {
    :root{
		font-size: 20px;
    }
	.center__point{
		width: 3rem;
		height: 3rem;
		right: calc(50% - 1.5rem);
		top: calc(50% - 1.5rem);
	}
}